@font-face {
	font-family: Trebuc;
	src: url('../fonts/trebuc.eot'); /* IE9 Compat Modes */
	src: url('../fonts/trebuc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/trebuc.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/trebuc.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/trebuc.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
	margin:0;
	padding:0;
	outline:none;
	text-decoration:none;
	font-family:Trebuc;
	border:none;
}
.clear {
	clear:both;
}
body {
	background-color:#009688;
}

.main {
	width:900px;
	margin:60px auto;
	min-height:400px;
}

.main .left {
	float:left;
	width:185px;
}
.main .left h3 a {
	color:#fff;
	font-size:21px;
	line-height:21px;
}
.main .left h3 a:hover {
	color:#fed501;
}
.main .left .text {
	color:#fff;
	padding-right:10px;
	font-size:12px;
	line-height:17px;
	margin-top:10px;
}

.main .right {
	float:right;
	width:715px;
}

.main .right form .what-for {
	border-bottom:1px solid #fff;
	color:#fff;
	font-size:13px;
	line-height:25px;
	padding-bottom:10px;
	margin-bottom:15px;
}
.main .right form .what-for input {
	margin:0px 0px 0px 8px;
}
/* Form */
.main .right form .form {
	float:left;
	color:#b5e1dd;
	font-size:11px;
	width:400px;
}
.main .right form .form .marke, .main .right form .form .modelis, .main .right form .form .duris, .main .right form .form .address, .main .right form .form span {
	font-size:12px;
	color:#fff;
}
.main .right form .form .marke {
	float:left;
}
.main .right form .form .modelis {
	float:right;
}
.main .right form .form .marke .marke-style, .main .right form .form .modelis .modelis-style {
	width:192px;
	height:28px;
	padding:5px;
	line-height:22px;
	margin-top:3px;
	border:1px solid #fff;
}
.main .right form .form .duris {
	margin:5px 0px;
	float:left;
}
.main .right form .form .duris .duris-style {
	width:111px;
	height:30px;
	line-height:22px;
	padding:5px;
	margin-top:3px;
	border:1px solid #fff;
    background-color: #ffffff;
}
.main .right form .form .address {
	margin:5px 0px;
	float:right;
}
.main .right form .form .address .address-style {
	width:265px;
	height:23px;
	padding:2px;
	margin-top:3px;
	border:1px solid #fff;
}
.main .right form .form .address span {
	color:#b5e1dd;
	font-size:11px;
}
.main .right form .form .info-style {
	width:400px;
	height:92px;
	min-width:400px;
	min-height:92px;
	max-width:400px;
	max-height:92px;
	margin:3px 0px 15px 0px;
	border:1px solid #fff;
}
.main .right form .form .submit-save {
	width:114px;
	margin-right:5px;
}
.main .right form .form .submit-abort {
	width:66px;
}
.main .right form .form .submit-save, .main .right form .form .submit-abort {
	background-color:#fed501;
	border-bottom:2px solid #867200;
	color:#000;
	font-weight:bold;
	font-size:12px;
	height:28px;
}
.main .right form .form .submit-save:hover, .main .right form .form .submit-abort:hover {
	border-bottom:2px solid #fed501;
	cursor:pointer;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}
label input {
    display: none;
}
input[type=checkbox]:checked + span {
    background: #ffff00;
}
label span {
    height: 10px;
    width: 10px;
    border: 1px solid #b5e1dd;
    display: inline-block;
}
label.checkbox {
    float:left;
    width:25%;
    vertical-align: top;
    line-height: 24px;
    margin: 2px 0;
    display: inline;
    height: 24px;
    color: #ffffff;
}

.doors{
    overflow:hidden;
}

.doors select{
    width:100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 20px;
    border: none;
    background: url("../img/doors.png") no-repeat right center;

}

.main .right form .maps {
    float:right;
    color:#fff;
    font-size:12px;
    width:284px;
}
.main .right form .maps #googleMap {
    margin-top:3px;
    width:284px;
    height:224px;
}

.alert {
	text-align:center;
	padding:10px 0px;
	position:absolute;
	width:100%;
	top:0;
	left:0;
}

a {
    color: #ffff33;
}

.error {
	background-color:#e7b4b4;
	color:#9d0909;
	border-top:1px solid #9d0909;
	border-bottom:1px solid #9d0909;
}
.good {
	background-color:#b4e7b4;
	color:green;
	border-top:1px solid green;
	border-bottom:1px solid green;
}
.missing {
	border:1px solid #E00 !important;
	box-shadow:0px 0px 15px #E00;
}

optgroup {width:20em}
optgroup {
    color:#00f;
    background-color:#fed501;
}
